<a href="https://colab.research.google.com/github/bhavya2810/Bhavya_INFO5731/blob/master/Copy_of_In_class_exercise_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (9/2/2020, 20 points in total)**

(1) Write a Python program to calculate the length of a string. (2 points)

In [ ]:
input_string = "Hello World!"
print("Length of string {0}".format(len(input_string)))

Length of string 12

(2) Write a Python program to count the number of characters in a string. (2 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
input_string = "google.com"
dict_ele = {}
for ele in input_string:
  dict_ele[ele] = input_string.count(ele)
print(dict_ele)

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (2 points)

In [ ]:
numbers = [1,2,3,4,5,6]
print(sum(numbers))

21

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (2 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
input_string = "restart"
result = input_string.replace("r", "$").replace("$", "r", 1)
print(result)

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (3 points)

In [ ]:
a = int(input("Enter the value of a: "))
b = int(input("Enter the value of b: "))
S = 3.14 * (1 + a/b)**3
print(S)

Enter the value of a: 1
Enter the value of b: 2
10.5975

(6) Write a Python program to concatenate following dictionaries to create a new one. (3 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1 = {1:10, 2:20}
dic2 = {3:30, 4:40}
dic3 = {5:50,6:60}
dic2.update(dic3)
dic1.update(dic2)
print(dic1)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (3 points)

In [ ]:
input_tuple = ('a', 1, 4, 'Hello')
print(" Does a is in given tuple: {0}".format('a' in input_tuple))
print("Does 1 is in given tuple: {0}".format(1 in input_tuple))
print("Does g is in given tuple: {0}".format('g' in input_tuple))

 Does a is in given tuple: True
Does 1 is in given tuple: True
Does g is in given tuple: False

(8) Write a Python program to find maximum and the minimum value in a set. (3 points)

In [ ]:
input_set = {1,5,6,7,10,12}
print("Maximum is {0}, Minimum is {1}".format(max(input_set), min(input_set)))

Maximum is 12, Minimum is 1

(9) Write a Python program to randomly divide the students in this class into five groups for term projects, each group should have at least 3 students but no more than 5 students (including 5). Here is the students list: (3 points for extra)

studnet_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159',
                'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

In [1]:
from itertools import islice
from random import randint

student_list = ['vmb0067','pc0353','snd0097','yye0005','sg0940','bk0301','rak0120','rrk0058','spk0057','vl0135','nm0547','pn0159', 'msp0174','dd0420','ds0761','rs0850','ss1995','at0739','at0768','mv0299','tv0119','dy0091']

def divide_into_groups(student_list, no_of_groups, min_size=3, max_size=5):
    list_iter = iter(student_list)
    for i in range(no_of_groups):
        nxt = list(islice(list_iter,randint(min_size,max_size)))
        if nxt:
            yield nxt
        else:
            break
print(list(divide_into_groups(student_list,5)))

[['vmb0067', 'pc0353', 'snd0097', 'yye0005'], ['sg0940', 'bk0301', 'rak0120'], ['rrk0058', 'spk0057', 'vl0135', 'nm0547', 'pn0159'], ['msp0174', 'dd0420', 'ds0761', 'rs0850', 'ss1995'], ['at0739', 'at0768', 'mv0299']]