<a href="https://colab.research.google.com/github/bhavya2810/Bhavya_INFO5731/blob/master/INFO5731_Assignment_One.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **INFO5731 Assignment One**

# Question 1

(20 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [1]:
from random import randint
from statistics import mean

rand_numbers = [randint(1, 100) for i in range(12)]
print("Random numbers before sorting - {0}".format(rand_numbers))
rand_numbers.sort()
print("Ascending order - {0}".format(rand_numbers))
rand_numbers.sort(reverse=True)
print("Descending order - {0}".format(rand_numbers))
print("Average of the given group is {0}".format(mean(rand_numbers)))

Random numbers before sorting - [45, 29, 76, 18, 93, 93, 41, 30, 7, 67, 5, 63]
Ascending order - [5, 7, 18, 29, 30, 41, 45, 63, 67, 76, 93, 93]
Descending order - [93, 93, 76, 67, 63, 45, 41, 30, 29, 18, 7, 5]
Average of the given group is 47.25

# Question 2
(25 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

**Question 2.1**

In [2]:
print("Please do enter two sentences")
sentence_1 = input("Enter first sentence")
sentence_2 = input("Enter second sentence")

Please do enter two sentences
Enter first sentenceThis is the, first sentence!!.
Enter second sentenceThis is the second;: sentence.

**Question 2.2**

In [3]:
import re
def into_sentence(input_string):
  reg = re.compile(r'\w+|[^\w\s]')
  return reg.findall(input_string)

list_sentence_1 = into_sentence(sentence_1)
list_sentence_2 = into_sentence(sentence_2)
print("sentence to list:")
print(list_sentence_1)
print(list_sentence_2)

sentence to list:
['This', 'is', 'the', ',', 'first', 'sentence', '!', '!', '.']
['This', 'is', 'the', 'second', ';', ':', 'sentence', '.']

**Question 2.3**

In [4]:
common_list = []
for ele in list_sentence_1:
  if ele in list_sentence_2:
    common_list.append(ele)
print(common_list)

['This', 'is', 'the', 'sentence', '.']

**Question 2.4**

In [5]:
import string

def remove_punctuation(input_string):
  return ''.join([i for i in input_string if i not in string.punctuation])

print("First sentence after removing puncatuation - {0}".format(remove_punctuation(sentence_1)))
print("Second sentence after removing puncatuation - {0}".format(remove_punctuation(sentence_2)))

First sentence after removing puncatuation - This is the first sentence
Second sentence after removing puncatuation - This is the second sentence

**Question 2.5**

In [6]:
def vowel_count(input_string):
  input_string = input_string.lower()
  count = {}.fromkeys('aeiou', 0) 
  for ele in input_string: 
        if ele in count: 
            count[ele] += 1
  final_output = {x:y for x,y in count.items() if y!=0}
  return final_output
print("Vowels in the first sentence is {0}".format(vowel_count(sentence_1)))
print("Vowels in the seocnd sentence is {0}".format(vowel_count(sentence_2)))

Vowels in the first sentence is {'e': 4, 'i': 3}
Vowels in the seocnd sentence is {'e': 5, 'i': 2, 'o': 1}

# Question 3 

(15 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [7]:
def calculate_volume(r, pi = 3.1415926535897931):
  return (4/3) * pi * (r ** 3)

print('r     v')
for r in range(1,10):
  print("{0}     {1}".format(r, calculate_volume(r)))

r     v
1     4.1887902047863905
2     33.510321638291124
3     113.09733552923254
4     268.082573106329
5     523.5987755982989
6     904.7786842338603
7     1436.7550402417319
8     2144.660584850632
9     3053.6280592892786

# Question 4

(40 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) included with this assignment. The [file Assignment1_denton_housing.csv](https://github.com/unt-iialab/INFO5731_FALL2020/blob/master/Assignments/Assignment1_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

**Question 4.1**

In [8]:
import pandas as pd
housing_df = pd.read_csv('https://raw.githubusercontent.com/unt-iialab/INFO5731_FALL2020/master/Assignments/Assignment1_denton_housing.csv')
df_occupied = housing_df[housing_df['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])
df_occupied.value.diff().sort_values()

17    -795.0
11    -303.0
8     1404.0
5     1565.0
2     2622.0
14    5091.0
20       NaN
Name: value, dtype: float64

**Question 4.2**

In [9]:
list_vacant = housing_df[housing_df['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])['value'].values.tolist()
list_occupied = housing_df[housing_df['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])['value'].values.tolist()
list_total = housing_df[housing_df['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['value'].values.tolist()
year = housing_df[housing_df['title_field'] == 'Total Housing Units'].sort_values(by=['year'])['year'].values.tolist()
Vacant = [str((vacant/total)*100)+' %' for vacant,total in zip(list_vacant,list_total)]
occupied = [str((occupied/total)*100)+' %' for occupied, total in zip(list_occupied, list_total)]
final_df = pd.DataFrame(list(zip(year,Vacant, occupied)), columns =['Year','Vacant Housing Units', 'Occupied Housing Units'])
final_df

   Year Vacant Housing Units Occupied Housing Units
0  2008  10.88265281351653 %    89.11734718648347 %
1  2009   9.07111572444872 %    90.92888427555128 %
2  2010  8.142556337081672 %    91.85744366291833 %
3  2011  9.379522229890688 %     90.6204777701093 %
4  2012  6.677600230491346 %    93.32239976950866 %
5  2013  8.801787504176412 %    91.19821249582358 %
6  2014  5.730110570363885 %    94.26988942963611 %

**Question 4.3**

In [10]:
df_vacant = housing_df[housing_df['title_field'] == 'Vacant Housing Units']
max_df = pd.concat([df_occupied[df_occupied['value'] == df_occupied['value'].max()],df_vacant[df_vacant['value'] == df_vacant['value'].max()]])
print(max_df[['title_field','year','value']])

               title_field  year  value
2   Occupied Housing Units  2014  46295
19    Vacant Housing Units  2008   4483

**Question 4.4**

In [11]:
from scipy import stats
print('Harmonic mean of total housing units is {0}'.format(stats.hmean(list_total)))

Harmonic mean of total housing units is 44398.28543969185